<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ybf.lottery">
    <!--网络请求-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.ybf.lottery.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ybf.lottery.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ybf.lottery.function.BJRacecarActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.ybf.lottery.activity.HistoryKJActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.StatisticActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.BasicTrendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.DragonTigerTrendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.WinnerRunnerSumValueActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.LocationTrendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.FirstSecondTrendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.BigSmallTrendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.MantissaTrendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.DivideRenainderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.OddEvenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.PrimeNumHeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.SpanTrendActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.ybf.lottery.activity.WuXingTrendActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>